<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.userserivce.mapper.UserMapper">

    <resultMap type="com.example.userserivce.dto.UserDto"
               id="userInfo" >
        <result property="email" column="email"/>
        <result property="name" column="name"/>
        <result property="pwd" column="password"/>
        <result property="createAt" column="create_date"/>
        <result property="userId" column="user_id"/>
    </resultMap>

    <resultMap type="com.example.userserivce.dto.OrderDto"
               id="orderInfo" >
        <result property="productId" column="product_id"/>
        <result property="qty" column="qty"/>
        <result property="unitPrice" column="unit_price"/>
        <result property="totalPrice" column="total_price"/>
        <result property="createdAt" column="create_at"/>
    </resultMap>

    <resultMap id="joinOrderUser" type="com.example.userserivce.dto.OrderJoinUser">
        <collection property="gallery" resultMap="GalleryInfo"/>
        <collection property="user" resultMap="UserInfo"/>
    </resultMap>

    <insert id="createUser" parameterType="com.example.userserivce.dto.UserDto">
        INSERT INTO user (email,
                          name,
                          password,
                          create_date,
                          user_id
                          )
        values (#{email},
                #{name},
                #{pwd},
                #{createAt},
                #{userId}
                )
    </insert>

    <select id="getUserByAll" parameterType="java.util.HashMap" resultType="Map">
        SELECT *
        FROM user
    </select>

    <select id="getUserById" resultMap="userInfo" resultType="Map">
        SELECT *
        FROM user
        where user_id = #{userid}
    </select>

    <select id="findByEmail" resultMap="userInfo">
        select *
        from user
        where email = #{email}
    </select>

</mapper>